
 
  /* body{
  margin: 15 px;
  padding: 0;
}  */
h1{
  text-align: center;
}

.bookList {
  position: relative;
  width: 16rem;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 30px;
  border-radius: 2rem;
  margin: 2rem;
}


 .grid-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 3.3fr 0.2fr;
  gap: 4px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Nav Nav Nav"
    "body body body"
    "footer footer footer";
    background-image: url("../src/image/bookcase3.jpeg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Nav { grid-area: Nav; }

.footer { grid-area: footer;
  
    justify-content:center;
    margin:'20px';
    height:'60px';
    padding:'1000 px';
    background-color:"";
 }

.body {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "B1 B2 B3"
    "B4 B5 B6"
    "B7 B8 B9";
  grid-area: body;
 
}




.B1 { grid-area: B1; }

.B2 { grid-area: B2; }

.B3 { grid-area: B3; }

.B4 { grid-area: B4; }

.B5 { grid-area: B5; }

.B6 { grid-area: B6; }

.B7 { grid-area: B7; }

.B8 { grid-area: B8; }

.B9 { grid-area: B9; }
 
