 /* body{
  margin: 15 px;
  padding: 0;
} */
/* .background{
  background: url(bookcase2.jpeg);
}  */

/* 
 .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr 3.3fr 0.2fr;
  gap: 4px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "Nav Nav Nav"
    "body body body"
    "footer footer footer";
}

.Nav { grid-area: Nav; }

.header { grid-area: header; }

.footer { grid-area: footer; }

.body {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "B1 B2 B3"
    "B4 B5 B6"
    "B7 B8 B9";
  grid-area: body;
}

.B1 { grid-area: B1; }

.B2 { grid-area: B2; }

.B3 { grid-area: B3; }

.B4 { grid-area: B4; }

.B5 { grid-area: B5; }

.B6 { grid-area: B6; }

.B7 { grid-area: B7; }

.B8 { grid-area: B8; }

.B9 { grid-area: B9; }
 */
