h1{
  text-align: center;
  font-size: 50px;
  color:black;
}
p1{
  text-align: center;
  font-size: 30px;
  font-weight: 40;
  color:rgb(3, 3, 3);
  margin-left: 40px;
  margin-right: 40mm;
  
}
h3{
  text-align: center;
  font-size: 45px;
  
}
h2{
  text-align: center;
  font-size: 100px;
  color:#29a8d6 ;
  
}

p{
  text-align: center;
  font-style: italic;
  font-size: 50px;
  color:#29a8d6;
 
}
#box1{
  display:flex;
  justify-content: space-between;

}
.B1{
  padding: 30px;
  margin-top: 260px;
  margin-left: 100px; 

}
.B2{
  
  padding: 30px;
  margin-left: 100px; 
  margin-top: 260px; 
}
 .B3{
 
  padding: 30px;
  margin-right: 100px; 
  margin-top: 260px; 
} 
#box2{
  display:flex;
  justify-content: space-between;

}
.B4{
  
  padding: 30px;
  margin-top: 160px;
  margin-left: 100px; 
}
.B5{
 
  padding: 30px;
  margin-top: 160px;
  margin-left: 100px; 
 
  
}
.B6{
  
  padding: 30px;
  margin-top: 160px;
  margin-right: 100px; 
}
#box3{
  display:flex;
  justify-content: space-between;

}

.B7{
  
  padding: 30px;
  margin-top: 160px;
  margin-left: 100px; 
}
.B8{

  padding: 30px;
  margin-top: 160px;
  margin-left: 100px; 
}
.B9{
 
  padding: 30px;
  margin-top: 160px;
  margin-right: 100px; 
}


.bookList-container{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding: 50px;
  border-radius: 2rem;
  margin-top: auto; 
  margin-left: auto;

}




